.sidebar {
    background-color: #21272c;
    width: 250px;
    height: 94vh;
    text-align: center;
    flex-shrink: 0;
    overflow-y: auto; /* Adiciona scroll vertical */
    
}

/* .sidebar {
    width: max-content;
    height: 100vh;
    padding: 10px;
    position: fixed;
    z-index: -1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: auto;
    
} */

.orgs {
    word-break: break-word;
}


#org-scroll-list{
    overflow:auto; 
}


.container-flex {
    display: flex;
    min-height: 94vh;
}

.org-table {
    flex-grow: 1;
}



.org-link {
    user-select:none;  
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    border: 2px solid #21272c;
    
    border-radius: 5px;
    
    transition: color .4s ease-in-out,background-color .4s ease-in-out;
}

.activated {
    background-color: darkslategray;
    
}

.org-link:hover {
    border: 2px solid rgb(61, 102, 102);
    
}

.actual-org-container {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
}

.org-table {
    padding-top: 20px;
}