<div class="actual-org-container">
    <h1>{{ org }}</h1>

    {% if auth %}
        <button class="btn btn-danger" onclick="deleteOrg('{{org}}')">Delete Org</button>
    {% endif %}
</div>


<table class="table">
    <thead>
        <tr>
            <!-- if admin or orgadmin add user button -->
            {% if auth %}
                <th scope="col"><a class="btn btn-success" onclick="getAddUserForm('/organizations/add_users/{{org}}', '{{org}}')">
                    Add Users
                </a></th>
            {% else %}
                <th scope="col"></th>
            {% endif %}


            <th scope="col">Usename</th>
            <th scope="col">Groups</th>

            <!-- if admin or orgadmin add actions -->
            {% if auth %}
                <th scope="col">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <!-- loop in orgadmins and users -->
        {% for role, users in roles.items %}
            {% for user in users %}
                <tr>
                    <th scope="row"></th>
                        {% if role == 'admins' %}
                            <td><h2>{{ user }}</h2></td>
                        
                        {% else %}
                            <td>{{ user }}</td>
                        
                        {% endif %}
                    <td>tmp</td>

                    <!-- if admin or orgadmin add actions -->
                    {% if auth %}
                        <td>
                            <div>
                                <button class="btn btn-outline-secondary" href="add">edit</button>
                                <button class="btn btn-outline-secondary" onclick="deleteUser('{{org}}', '{{user}}')">remove</button>
                            </div>
                        </td>
                    {% endif %}
                    
                
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    
</table>