{% extends 'base.html' %}
{% load static %}


{% block head %}
    <title>organizations</title>

    <link rel="stylesheet" href="{% static 'organizations/css/org.css'%}">
    
    
{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar">
            
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="org-link activated" id="org-form" onclick="getForm('/organizations/create_org');">Create Org</a>
                    <hr>
                    <div class="list-group">
                        {% for org in organizations %}
                            <a class="orgs org-link" id="{{org}}" onclick="getOrg('/organizations/users/{{org}}', this.id);">
                            {{ org }}
                            </a>
                        
                        {% endfor %}
                    </div>
                    
                </li>
            </ul>
        </div>

        <div class="container org-table"></div>
    </div>


    <script type="module" src="{% static 'organizations/js/orgs.js' %}" defer></script>
    <script type="module" src="{% static 'organizations/js/form.js' %}" defer></script>
{% endblock %}