{% extends 'base.html' %}
{% load static %}


{% block head %}
    <title>organizations</title>

    <link rel="stylesheet" href="{% static 'organizations/css/org.css' %}">
    <link rel="stylesheet" href="{% static 'organizations/css/container-orgs.css' %}">
    <link rel="stylesheet" href="{% static 'organizations/css/org-form-btn.css' %}">
{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar">
            
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <!-- dinamic org creation form -->
                    <a class="org-link activated" id="org-form" onclick="getForm('/organizations/create_org');">Create Org</a>
                    <hr>
                    <!-- list all organizations -->
                    {% for org in organizations %}
                        {% if org %}
                            <a class="org-link orgs" id="{{org}}" onclick="getOrg('/organizations/users/{{org}}', this.id);">
                                {{ org }}
                            </a>
                        {% endif %}
            
                    {% endfor %}
                    
                    
                </li>
            </ul>
        </div>

        <!-- a div that receives the fetch result -->
        <div class="container org-table"></div>
    </div>


    <script type="module" src="{% static 'organizations/js/orgs.js' %}" defer></script>
    <script type="module" src="{% static 'organizations/js/form.js' %}" defer></script>
    <script type="module" src="{% static 'organizations/js/deleteOrg.js' %}" defer></script>
    
{% endblock %}